In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.DataFrame({
    "Name": ["Braud, Mr. Owen Harris, Ã„llen", "Allen, Mr. William Henry", "Bonnell, Miss. Elizabeth"],
    "Age": [22, 35, 58],
    "Sex": ["male", "male", "female"]
})
df

In [ ]:
df["Age"]

In [ ]:
ages = pd.Series([22, 35, 58], name = "Age")
ages

In [ ]:
df["Age"].max()

In [ ]:
ages.max()

In [ ]:
df.describe()

In [ ]:
titanic = pd.read_csv("titanic.csv")
titanic.head()

In [ ]:
titanic.dtypes

In [ ]:
pip install openpyxl

In [ ]:
titanic.to_excel("titanic.xlsx", sheet_name="passengers", index=False)

In [ ]:
titanic = pd.read_excel("titanic.xlsx", sheet_name="passengers")

In [ ]:
titanic.info()

In [ ]:
ages = titanic["Age"]
ages.head()

In [ ]:
type(titanic["Age"])

In [ ]:
titanic["Age"].shape

In [ ]:
titanic["Age"].shape

In [ ]:
age_sex = titanic[["Age", "Sex"]]
age_sex.head()

In [ ]:
titanic[["Age","Sex"]].shape

In [ ]:
above_35 = titanic[titanic["Age"] > 35]
above_35.head()

In [ ]:
class_23 = titanic[titanic["Pclass"].isin([2, 3])]
class_23.head()

In [ ]:
class_23 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]  # Pclass either 2 or 3 
class_23.head()

In [ ]:
age_no_na = titanic[titanic["Age"].notna()]  #Not a number
age_no_na.head()

In [ ]:
adult_names = titanic.loc[titanic["Age"] > 35]
adult_names.head()

In [ ]:
adult_names = titanic.loc[titanic["Age"] > 35, "Name"]
adult_names.head()

In [ ]:
titanic.iloc[9:25, 2:5]

In [ ]:
anon = titanic.iloc[0:3, 3] = "anonymous"
anon

In [ ]:
titanic.head()

In [ ]:
titanic["Age"].mean()

In [ ]:
titanic[["Age", "Fare"]].median()

In [ ]:
titanic[["Age", "Fare"]].describe()

In [ ]:
titanic.agg({
    
    "Age":["min", "max", "median", "skew"],
    "Fare":["min", "max", "median", "skew"]

})  # Specific describe

In [ ]:
titanic[["Sex", "Age"]].groupby("Sex").mean()

In [ ]:
titanic[["Sex", "Age"]].groupby("Sex").max()

In [ ]:
titanic[["Sex", "Age"]].groupby("Sex").first()

In [ ]:
titanic.head()

In [ ]:
titanic.groupby("Sex")["Age"].mean()

In [ ]:
titanic.groupby(["Sex", "Pclass"])["Fare"].mean()

In [ ]:
titanic["Pclass"].value_counts()  # value counts of Pclass

In [ ]:
titanic.groupby("Pclass")["Pclass"].count()    #count of Pclass

In [ ]:
titanic.sort_values(by="Age", ascending=False).head()

In [ ]:
titanic.sort_values(by=['Pclass', 'Age'], ascending=False).head()

In [ ]:
titanic.dtypes

In [ ]:
titanic["Name"].str.lower()

In [ ]:
titanic["Name"].str.split(",")

In [ ]:
titanic["Surname"] = titanic["Name"].str.split(",").str.get(0)
titanic["Surname"]

In [ ]:
titanic["Name_main"] = titanic["Name"].str.split(",").str.get(1)
titanic["Name_main"]

In [ ]:
titanic["Name"].str.split(",")

In [ ]:
titanic["Real_Name"] = titanic["Name"].str.split(",").str.get(0)
titanic.head()

In [ ]:
titanic["Surname"] = titanic["Name"].str.split(",").str.get(1)
titanic.head()

In [ ]:
titanic["Salution"] = titanic["Surname"].str.split(",").str.get(0)
titanic.head()

In [ ]:
titanic["Name"].str.contains("Mr")

In [ ]:
titanic[titanic["Name"].str.contains("Countess")]

In [ ]:
titanic[759:]

In [ ]:
titanic["Name"].str.len()

In [ ]:
titanic["Name"].str.len().idxmax()

In [ ]:
titanic.loc[titanic["Name"].str.len().idxmax(), "Name"]

In [ ]:
titanic.loc[titanic["Name"].str.len().idxmin(), "Name"]

In [ ]:
titanic["Sex_short"] = titanic["Sex"].replace({"male":"M", "female":"F"})
titanic["Sex_short"]

In [ ]:
titanic["Sex_short"] = titanic["Sex"].str.replace("female","F")
titanic["Sex_short"] = titanic["Sex_short"].str.replace("male","M")
titanic["Sex_short"]